// LVHA Link Visited Hover Active
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
