// Settings
@import 'settings.global';
@import 'settings.colors';

// Tools

// Generic
@import 'generic.normalize';
@import 'generic.reset';
@import 'generic.box-sizing';
@import 'generic.fonts';

// Elements
@import 'elements.headings';
@import 'elements.images';
@import 'elements.links';
@import 'elements.lists';
@import 'elements.forms';

// Objects
@import 'objects.layout';
@import 'objects.wrappers';

// Components
@import 'components.buttons';

// Trumps / Helpers
@import 'helpers.clearfix';

// sprites
@import 'sprites';
.github {
  @include retina-sprite($github-group);
}

// susy

@import 'susy/sass/susy';
.susy {
  @include span(2);
}

/* uncss:ignore */
.ignored-selector {
  display: none;
}

.removed {
  display: block;
}

.has-border {
  border-top: 1px solid $color-black;
}

.is-active {
  background-color: $color-black;
  color: $color-white;
}

body {
  background-color: #daa;
}
